body {
background-color:#b0c4de;
}
h1{
  color: #663399;
}
h3{
color:#ff4500;
}
hr {
  border-style: none;
  border-top: dotted;
  border-color: grey;
  board-width: 5px;
  width:5%;
}
